# Dependencies
node_modules
app/node_modules
**/node_modules

# Build outputs
.output
dist
.nuxt
.cache

# Development
.git
.vscode
.devcontainer

# Logs
*.log
logs
app/data/logs

# Database
*.sqlite
*.sqlite-shm
*.sqlite-wal
app/data/db.sqlite*

# OS
.DS_Store
Thumbs.db

# Temp
.tmp
.temp
